<% layout('layouts/user') -%>
<div class="login-page">
    <div class="form">
  
      <form class="login-form" action="/" method="POST">
        <input type="text" placeholder="username"/ name="username">
        <input type="password" placeholder="password"/ name="password">
        <button>login</button>
        <p class="message">Not registered? <a href="/user/register">Create an account</a></p>
      </form>
    </div>
  </div>
