<% layout('layouts/admin') %>
<div class="content-add content-grid">
    <div class="content-margin">
        <h2 class="content-title">Thêm mới thông tin khoa</h2>
        <div class="content-form">
            <form action="/khoa/edit/<%= khoa.id %>?_method=PUT" method="POST">
                <label for="nameK">tên khoa</label><br>
                <input type="text" class="inputName" placeholder="nhập tên khoa" name="nameK" value="<%=khoa.nameK%>"><br>
                <button  class="gui">Lưu thông tin</button>
            </form>
           <a href="/khoa">
            <button class="huy">Huỷ bỏ</button>
           </a>
        </div>
    </div>
</div>