<% layout('layouts/admin') %>
<div class="content-add content-grid">
    <div class="content-margin">
        <h2 class="content-title">Thêm mới thông tin subject</h2>
        <div class="content-form">
            <form action="/subject/edit/<%= subject.id %>?_method=PUT" method="POST">
                <label for="nameL">tên subject</label><br>
                <input type="text" class="inputName" placeholder="nhập tên subject" name="nameS" value="<%=subject.nameS%>"><br>
                <button  class="gui">Lưu thông tin</button>
            </form>
           <a href="/subject">
            <button class="huy">Huỷ bỏ</button>
           </a>
        </div>
    </div>
</div>